
<%= link_to("<<< Return back to Collection", collections_path, :class => 'back-link') %>
  <div class="book delete">
  <h2>Delete Book</h2>

  <%= form_for(@book, url: collection_path, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this page?</p>
    <p><%= @book.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Page") %>
    </div>

  <% end %>
</div>