
<%= link_to("<<< Return back to Collection", collections_path, :class => 'back-link') %>
<div class="book update">
  <h2>Edit Book</h2>

  <%= form_for(@book,  url: collection_path) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Book") %>
    </div>


  <% end %>
</div>
